@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    background-color: #000000;
    font-family: "Lato",sans-serif ;
}

.slider-effect::-webkit-scrollbar{
    display: none;
}
.slider-effect{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    White-space: nowrap;
    scroll-behavior: smooth;
}